/*

Gruvbox style (dark) (c) Pavel Pertsev (original style at https://github.com/morhetz/gruvbox)

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #282828;
}

.hljs,
.hljs-subst {
  color: #ebdbb2;
}

/* Gruvbox Red */
.hljs-deletion,
.hljs-formula,
.hljs-keyword,
.hljs-link,
.hljs-selector-tag {
  color: #fb4934;
}

/* Gruvbox Blue */
.hljs-built_in,
.hljs-emphasis,
.hljs-name,
.hljs-quote,
.hljs-strong,
.hljs-title,
.hljs-variable {
  color: #83a598;
}

/* Gruvbox Yellow */
.hljs-attr,
.hljs-params,
.hljs-template-tag,
.hljs-type {
  color: #fabd2f;
}

/* Gruvbox Purple */
.hljs-builtin-name,
.hljs-doctag,
.hljs-literal,
.hljs-number {
  color: #8f3f71;
}

/* Gruvbox Orange */
.hljs-code,
.hljs-meta,
.hljs-regexp,
.hljs-selector-id,
.hljs-template-variable {
  color: #fe8019;
}

/* Gruvbox Green */
.hljs-addition,
.hljs-meta-string,
.hljs-section,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-string,
.hljs-symbol {
  color: #b8bb26;
}

/* Gruvbox Aqua */
.hljs-attribute,
.hljs-bullet,
.hljs-class,
.hljs-function,
.hljs-function .hljs-keyword,
.hljs-meta-keyword,
.hljs-selector-pseudo,
.hljs-tag {
  color: #8ec07c;
}

/* Gruvbox Gray */
.hljs-comment {
  color: #928374;
}

/* Gruvbox Purple */
.hljs-link_label,
.hljs-literal,
.hljs-number {
  color: #d3869b;
}

.hljs-comment,
.hljs-emphasis {
  font-style: italic;
}

.hljs-section,
.hljs-strong,
.hljs-tag {
  font-weight: bold;
}
main.svelte-cuizgm{position:relative;max-width:56em;padding:2em 0;margin:0 auto;box-sizing:border-box}
h1.svelte-8od9u6,p.svelte-8od9u6{margin:0 auto}h1.svelte-8od9u6{font-size:2.8em;font-weight:700;margin:0 0 0.5em 0}p.svelte-8od9u6{margin:1em auto}@media(min-width: 480px){h1.svelte-8od9u6{font-size:4em}}
body{background-color:#231123;color:#eff7ff}h1.svelte-5l8hr{margin:0 auto}h1.svelte-5l8hr{font-size:3em;font-weight:700}@media(min-width: 480px){h1.svelte-5l8hr{font-size:5em}}
.about-container.svelte-hbhtyv{display:flex;flex-direction:row;justify-content:space-between;align-items:center}.social-links-container.svelte-hbhtyv{margin-left:-2.5rem}.social-link.svelte-hbhtyv{display:flex}section.svelte-hbhtyv{margin-bottom:3rem}a.svelte-hbhtyv{align-items:center;text-decoration:none;padding-left:0.25rem;color:#89b0ae}img.svelte-hbhtyv{border-radius:50%;width:40%}
ul.svelte-i0pwsc{margin:0 0 1em -2.5rem;line-height:1.5}li.svelte-i0pwsc{list-style-type:none;margin-bottom:0.5rem}a.svelte-i0pwsc{text-decoration:none;font-size:20px}a.svelte-i0pwsc:hover{color:#89b0ae}.date.svelte-i0pwsc{font-size:14px;margin-bottom:0.25rem;display:flex}.icon.svelte-i0pwsc{margin-right:0.25rem}
.content.svelte-rp6d9m h2{font-size:1.4em;font-weight:500}.content.svelte-rp6d9m pre{background-color:#2e3440;box-shadow:inset 1px 1px 5px rgba(0, 0, 0, 0.05);padding:0.5em;border-radius:2px;overflow-x:auto}.content.svelte-rp6d9m pre code{background-color:transparent;padding:0}.content.svelte-rp6d9m ul{line-height:1.5}.content.svelte-rp6d9m li{margin:0 0 0.5em 0}.content.svelte-rp6d9m a{color:#89b0ae;text-decoration:none}
nav.svelte-o7nrbl{margin:0 auto;max-width:56em}ul.svelte-o7nrbl{margin:0;padding:0}ul.svelte-o7nrbl::after{content:"";display:block;clear:both}li.svelte-o7nrbl{display:block;float:left}[aria-current].svelte-o7nrbl{position:relative;display:inline-block}[aria-current].svelte-o7nrbl::after{position:absolute;content:"";width:calc(100% - 1em);height:2px;background-color:#89b0ae;display:block;bottom:-1px}a.svelte-o7nrbl{text-decoration:none;padding:1em 0.5em;display:block}
html{scroll-behavior:smooth}.parent.svelte-1toby69{display:flex;flex-direction:column;margin:0 1.25rem}.password-viewer.svelte-1toby69{border-width:1px;border-color:#000;border-style:solid;align-items:center;display:flex;flex-direction:column;justify-content:center;height:100%;widows:100%}.password-message.svelte-1toby69{color:red;margin:8px 0px}.password-container.svelte-1toby69{align-items:center;display:flex;justify-content:center;margin:8px 0px}.password-input.svelte-1toby69{border:1px solid rgba(0, 0, 0, 0.2);padding:8px;width:200px}.password-button.svelte-1toby69{background-color:rgb(53, 126, 221);border:1px solid rgba(0, 0, 0, 0.2);color:rgb(255, 255, 255);border-left-color:transparent;cursor:pointer;padding:8px 16px}.control.svelte-1toby69{margin-top:1.25rem;margin-bottom:0;margin-right:2.5rem;margin-left:2.5rem;border-radius:0.25rem;overflow:auto;box-shadow:0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);background-color:#fff;border-width:1px}.control-start.svelte-1toby69{padding:1.25rem}.line.svelte-1toby69{display:flex;flex-direction:row;font-family:Georgia, Cambria, "Times New Roman", Times, serif;border-top-width:0px;border-right-width:0px;border-bottom-width:1px;border-left-width:0px;border-color:#4fd1c5;border-style:dotted;margin-bottom:0.75rem;padding-top:0.5rem;padding-bottom:0.5rem;justify-content:center}.button-control.svelte-1toby69{display:flex;flex-direction:row;padding:0.5rem;margin:0.75rem;border-radius:0.25rem;overflow:hidden;box-shadow:0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);border-left-width:1px;border-bottom-width:1px;border-right-width:1px;cursor:pointer}.viewer.svelte-1toby69{border-width:1px;border-color:#000;border-style:solid}.icon.svelte-1toby69{height:1.25rem;width:1.25rem;fill:currentColor;color:#38b2ac}.disabled.svelte-1toby69{cursor:not-allowed;box-shadow:none}.page-info.svelte-1toby69{display:flex;flex-direction:row;padding-top:0.5rem;margin:0.75rem;overflow:hidden}.text.svelte-1toby69{margin-left:0.5rem;cursor:default}.rot-icon.svelte-1toby69{transform:rotate(180deg)}#topBtn.svelte-1toby69{position:fixed;bottom:10px;float:right;right:10%;left:90%;max-width:30px;width:100%;border-color:#000;background-color:#fff;padding:0.5px;border-radius:9999px}#topBtn.svelte-1toby69:hover{background-color:#000;color:#fff}@media(min-width: 768px) and (max-width: 1024px){.parent.svelte-1toby69{margin:0}.control.svelte-1toby69{margin:0}.control-start.svelte-1toby69{padding:0}.line.svelte-1toby69{justify-content:center}.button-control.svelte-1toby69{display:flex;flex-direction:row;padding:0.5rem;margin:0.5rem;border-radius:0.25rem;overflow:hidden;box-shadow:0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);border-left-width:1px;border-bottom-width:1px;border-right-width:1px;cursor:pointer}.page-info.svelte-1toby69{display:none}canvas.svelte-1toby69{width:100%;height:100%}}@media(min-width: 481px) and (max-width: 767px){.parent.svelte-1toby69{margin:0}.control.svelte-1toby69{margin:0}.control-start.svelte-1toby69{padding:0}.line.svelte-1toby69{justify-content:center}.button-control.svelte-1toby69{display:flex;flex-direction:row;padding:0.5rem;margin:0.5rem;border-radius:0.25rem;overflow:hidden;box-shadow:0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);border-left-width:1px;border-bottom-width:1px;border-right-width:1px;cursor:pointer}.page-info.svelte-1toby69{display:none}canvas.svelte-1toby69{width:100%;height:100%}}@media(min-width: 320px) and (max-width: 480px){.parent.svelte-1toby69{margin:0}.control.svelte-1toby69{margin:0}.control-start.svelte-1toby69{padding:0}.line.svelte-1toby69{justify-content:center}.button-control.svelte-1toby69{display:flex;flex-direction:row;padding:0.4rem;margin:0.4rem;border-radius:0.25rem;overflow:hidden;box-shadow:0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);border-left-width:1px;border-bottom-width:1px;border-right-width:1px;cursor:pointer}.page-info.svelte-1toby69{display:none}canvas.svelte-1toby69{width:100%;height:100%}}
.tooltip.svelte-10lk5cm{left:50%;transform:translateX(-50%);white-space:nowrap;font-size:0.75rem;position:absolute;margin-top:0.5rem;background-color:#718096;color:#fff;border-radius:0.25rem;padding-top:1rem;padding-bottom:1rem;padding-right:0.75rem;padding-left:0.75rem;z-index:30}.activator.svelte-10lk5cm{position:relative;display:inline-block}